<div class="container">
	<div class="panel panel-default">
	  <!-- Default panel contents -->
		<div class="panel-heading">Panel heading</div>
		<!--div class="panel-body">
		    <p></p>
		</div-->

		<table class="table">
			<thead>
			    <tr>
					{{#if data}}
				        <th>User Id</th>
				        <th>FirstName</th>
				        <th>Question ID</th>
				        <th>Answer Option</th>
				    {{else}}
				    	<th>Register user details</th>
				    {{/if}}
			    </tr>
			</thead>
		    <tbody>
				<tr>
					{{#if data}}
				    	{{#each data}}
		      		        <td>{{mobile}}</td>
						    <td>{{firstName}}</td>
						    <td>{{#each ques_date}} {{.}}<br>{{/each}}</td>
						    <td>{{#each ans_option}} {{.}}<br>{{/each}}</td>
				    	{{/each}}
					{{else}}
						<td>{{noRecordFound}}</td>
					{{/if}}
     		    </tr>
		    </tbody>
		</table>
	</div>
</div>