<div class="container">
	<h1>{{title}}</h1>
	<div class="embed-responsive embed-responsive-4by3">
	  {{{data.url}}}
	</div>
	<br>
	<div>
		<h3>{{data.ques_title}}</h3>
	</div>
  	<form method="post" action="/quiz/savePreferance">
		<div class="row form-group">
            <div class="">
				{{#each data.options}}
		    		<div class="input-group">
				  			<input type="radio" name="options" id="{{.}}" value="{{.}}" required>
					        <label for="{{.}}">{{.}}</label>
		            </div>
			    {{/each}}		
			</div>
		</div>
		<div class="row form-group">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
</div>